{% import "bootstrap/wtf.html" as wtf %}
<head>
    <meta charste="=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Quote Share</span>
    </nav>
    {{wtf.quick_form(form)}}
    {%for i in range(0,1)%}
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
        <h5 class="card-title">{{post[i].user.username}}</h5>
        <p class="card-text">{{post[i].quote}}</p>
        {{wtf.quick_form(comments)}}
        <a href="#" class="btn btn-primary">Delete</a>
        {% if coms[i]['coms_id'] == data[i]['id'] %}
        <p>{{coms[i]['com']}}</p>
        {% endif %}

        </div>
    </div>
    {%endfor%}
    
    <!--Random Quotes-->
    {%for i in range(0,5)%}
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
        <h5 class="card-title">{{data[i]['author']}}</h5>
        <p class="card-text">{{data[i]['quote']}}</p>
        {{wtf.quick_form(comments)}}
        <a href="#" class="btn btn-primary">Delete</a>
        {% if coms[i]['coms_id'] == data[i]['id'] %}
        <p>{{coms[i]['com']}}</p>
        {% endif %}

        </div>
    </div>

    {% endfor %}
    {{coms[1][com]}}
    {{post}}

</body>